/* Oбнуление сss*/
*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
ul,
li,
ol {
    list-style: none;
}

img {
    vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}
html,
body { /*Дописываю дополнительно для текста*/
    height: 100%;
    line-height: 1;

    font-size: 16px;
    color: #000000;

    font-family: Montserrat, serif;
}

.main{
    background-image: url(../Img/Back_main.png);
    height: 100vh;
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    display: flex;
}

.wrapper {
    min-height: 100%; /Чтобы не было скролла/
overflow: hidden;
}

._container { /*технический класс*/
    max-width: 1154px;
    margin: 0 auto; /*для выстраивания по середине*/
}

.main_rectangle{
    background: rgba(0, 0, 0, 0.48);
    margin: 10% auto;

    min-height: 11.9%;
    min-width: 60%;
}

.main_text{
    font-style: normal;
    font-weight: 700;
    font-size: 20pt;
    line-height: 118%;
    color: #FFFFFF;
    text-align: center;
}

.junior_rectangle {
    max-width: 230px;
    max-height: 108px;
    align-items: center;
    display: flex;
    background: rgba(0, 0, 0, 0.48);
    margin-bottom: 5%;
    text-decoration: none;
}

.junior_rectangle:hover{
    background: black;
}

.button_text {
    font-style: normal;
    font-weight: 500;
    font-size: 15pt;
    line-height: 123%;
    color: #FFFFFF;
    padding: 15%;
}

/* Устроства с маленьким экраном (планшеты, 768px и выше) */
@media (min-width: 768px) {
    .main_text{
        font-size: 3vw;
        text-align: center;
    }
    .button_text {
        font-size: 0.8vw;
    }
}

/* Устройства со средним экраном (ноутбуки и компьютеры, 992px и выше)*/
@media (min-width: 992px) {
    .main_text{
        text-align: center;
    }

    .main_rectangle{
        margin: 10% 0;
    }
    .junior_rectangle{
        margin-bottom: 3%;
    }
}
/* Устройства с большим экраном (компьютеры, 1200px и выше) */
@media (min-width: 1200px) {
    .main_rectangle{
        margin: 10% 20%;
    }

    .main_text{
        text-align: center;
    }
}